<%= content_for :page_name, 'shop_list' %>

<h1>Магазины</h1>

<%= link_to 'Добавить магазин', new_shop_path %>

<table>
  <tr>
    <th class="description">Название</th>
    <th class="activity">Активный</th>
  </tr>

  <% @shops.each do |shop| %>
    <tr>
      <td><%=link_to shop.name, edit_shop_path(shop) %></td>
      <td><%= "#{shop.opened ? 'Да' : 'Нет' }" %></td>
    </tr>
  <% end %>
</table>

